.typing {
    position: relative;
    display: block;
    padding-bottom: 15px;
    
    span {
        content: '';
        animation: blink 1.5s infinite;
        animation-fill-mode: both;
        height: 10px;
        width: 10px;
        background: #757575;
        position: absolute;
        left:0;
        top:0;
        border-radius: 50%;
        
        &:nth-child(2) {
        animation-delay: .2s;
        margin-left: 15px;
        }
        
        &:nth-child(3) {
        animation-delay: .4s;
        margin-left: 30px;
        }
    }
}


@keyframes blink {
    0% {
        opacity: .1;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}
