body {
    margin: 0;
    background-color: black;
    background-image: url(gameBoyAdvance.png);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    height: 100vh;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    margin-left: 16px;
    margin-top: 103px;
}